
default vesamenu.c32
timeout 100

menu background splash.jpg
FONT myfont.psf
menu title €‚ƒ„…†‡ COS Desktop 0.5 32-bit

menu color screen	37;40      #80ffffff #00000000 std
menu color border   30;44      #00000000 #00000000 none
MENU COLOR title        1;36;44 #ffffffff #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #ffDEDEDE #00000000 std
MENU HIDDEN
MENU HIDDENROW 8
MENU WIDTH 78
MENU MARGIN 15
MENU ROWS 5
MENU VSHIFT 7
MENU TABMSGROW 11
MENU CMDLINEROW 11
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29
MENU AUTOBOOT ˆ‰Š‹#Œ‘’“”•–—˜™š›œŸ ¡COS DESKTOP 0.5
MENU TABMSG ¢£[TAB]¤¥¦§¨©ª«

label live
  menu label [^1] –—˜™š›œŸ ¡COS Desktop 0.5
  kernel /casper/vmlinuz
  append  file=/cdrom/preseed/mint.seed boot=casper initrd=/casper/initrd.lz quiet splash --
menu default
label xforcevesa
  menu label [^2] ¬­®¯š›œŸ ¡COS Desktop 0.5
  kernel /casper/vmlinuz
  append  file=/cdrom/preseed/mint.seed boot=casper xforcevesa nomodeset b43.blacklist=yes initrd=/casper/initrd.lz ramdisk_size=1048576 root=/dev/ram rw noapic noapci nosplash irqpoll --
label check
  menu label [^3] °±²³Ÿ ¡´µ¶·¸¹º»¼½¾¿
  kernel /casper/vmlinuz
  append  boot=casper integrity-check initrd=/casper/initrd.lz quiet splash --
label memtest
  menu label [^4] °±²³ÀÁÂÃ¼½¾¿
  kernel memtest
label local
  menu label [^5] ÄÅÆÇÈÉÊË´µÌÍ‘
  localboot 0x80 
