[Desktop Entry]
Name=Displays
Comment=Change resolution and position of monitors and projectors
Exec=cinnamon-settings display
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=GNOME;
X-Cinnamon-Settings-Panel=display
# Translators: those are keywords for the display control-center panel
Keywords=Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[af]=Panel;Projector;xrandr;Screen;Resolution;Refresh;lcd;projektor;skerm;resolusie;vertoon
Keywords[ar]=لوحة;عرض;شاشة;ميز;
Keywords[as]=পেনেল;প্ৰজেক্টৰ;xrandr;পৰ্দা;বিভেদন;সতেজ কৰক;
Keywords[ast]=Panel;Proyeutor;xranrd;Pantalla;Resolución;Anovar;
Keywords[be]=Панэль;Праектар;xrandr;Экран;Распазнавальнасць;Абнаўленне экрана;
Keywords[bg]=Панел;Проектор;xrandr;Екран;Разделителна способност;Опресняване;
Keywords[bn]=প্যানেল;প্রজেক্টর,xrandr;স্ক্রীন,রেজল্যুশন;রিফ্রেশ;
Keywords[ca]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;
Keywords[ca@valencia]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;
Keywords[crh]=Panel;Projektör;xrandr;Ekran;Çözünürlük;Tazeleme;
Keywords[cs]=panel;projektor;xrandr;obrazovka;rozlišení;občerstvit;
Keywords[da]=Panel;Projektor;xrandr;Skærm;Opløsning;Opdatering;
Keywords[de]=Panel;Projektor;xrandr;Bildschirm;Auflösung;Aktualisieren;
Keywords[el]=Πάνελ;Προβολέας;xrandr;Οθόνη;Ανάλυση;Ανανέωση;Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[en_GB]=Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[eo]=Panelo;Projekciilo;xrandr;Ekrano;Distingivo;Aktualigi;
Keywords[es]=Panel;Proyector;xranrd;Pantalla;Resolución;Actualizar;
Keywords[et]=Paneel;Projektor;xrandr;Ekraan;Resolutsioon;Eraldusvõime;Lahutusvõime;Värskendamissagedus;
Keywords[eu]=Panela;Proiektagailua;xrandr;Pantaila;Bereizmena;Freskatu;
Keywords[fa]=تابلو;پروژکتور;xrandr;نمایشگر;تفکیک‌پذیری;نوسازی;
Keywords[fi]=Paneeli;Projektori;xrandr;Näyttö;Tarkkuus;Virkistystaajuus;
Keywords[fr]=Panneau;Projecteur;xrandr;Écran;Définition;Résolution;Rafraîchissement;
Keywords[gl]=Panel;Proxector;xrandr;Pantalla;Resolución;Refresco;
Keywords[gu]=પેનલ;પ્રોજેક્ટર;xrandr;સ્ક્રીન;રિઝોલ્યુશન;તાજુ કરો;
Keywords[he]=לוח;מקרן;xrandr;צג;מסך;רזולוציה;רענון;
Keywords[hi]=पैनल;प्रोजेक्टर;xrandr;स्क्रीन;रिज़ॉल्यूशन;रिफ्रेश;
Keywords[hu]=Panel;Projektor;xrandr;Képernyő;Felbontás;Frissítés;
Keywords[id]=Panel;Projektor;xrandr;Layar;Resolusi;Segarkan;
Keywords[it]=Pannello;Proiettore;xrandr;Schermo;Risoluzione;Dimensioni;Refresh;Display;
Keywords[ja]=Panel;Projector;xrandr;Screen;Resolution;Refresh;パネル;プロジェクター;画面;解像度;リフレッシュ;
Keywords[km]=Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[kn]=ಪ್ಯಾನಲ್;ಪ್ರೊಜೆಕ್ಟರ್;xrandr;ತೆರೆ;ರೆಸಲ್ಯೂಶನ್;ಪುನಶ್ಚೇತನ;
Keywords[ko]=Panel;패널;Projector;프로젝터;xrandr;Screen;화면;Resolution;해상도;Refresh;주사율;
Keywords[ky]=Панель;Проектор;xrandr;Экран;Ажырымдуулук;Жаңылоо;
Keywords[lt]=Skydelis;Projektorius;xrandr;Ekranas;Raiška;Atnaujinimas;
Keywords[lv]=Panelis;Projektors;xrandr;Ekrāns;Izšķirtspēja;Atsvaidzināt;Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[mk]=Панел;Проектор;xrandr;Екран;Резолуција;Освежи;
Keywords[ml]=Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[mr]=पॅनल;प्रोजेक्टर;xrandr;स्क्रीन;रेजोल्युशन;रिफ्रेश;
Keywords[nb]=Panel;Prosjektor;xrandr;Skjerm;Oppløsning;Oppdater;
Keywords[nl]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Paneel;Scherm;Resolutie;Ververs;
Keywords[nn]=Panel;Prosjektør;xrandr;Skjerm;Oppløysing;Oppfrisking;
Keywords[or]=ପ୍ୟାନେଲ;ପ୍ରଦର୍ଶିକା;xrandr;ପରଦା;ବିଭେଦନ;ସତେଜ;
Keywords[pa]=ਪੈਨਲ;ਪਰੋਜੈਕਟਰ;xrandr;ਸਕਰੀਨ;ਰੈਜ਼ੋਲੂਸ਼ਨ;ਤਾਜ਼ਾ;
Keywords[pl]=Panel;Projektor;xrandr;Ekran;Rozdzielczość;Odświeżanie;
Keywords[pt]=Painel;Projector;xrandr;Ecrã;Resolução;Actualizar;
Keywords[pt_BR]=Painel;Projetor;xrandr;Tela;Resolução;Atualizar;
Keywords[ro]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Panou;Proiector;Ecran;Rezoluție;Reîmprospătare;Frecvență;Frecventa;Rezolutie
Keywords[ru]=Панель;Проектор;xrandr;Экран;Разрешение;Обновить;
Keywords[sk]=Panel;Projektor;xrandr;Obrazovka;Rozlíšenie;Obnovovanie;
Keywords[sl]=Pult;Projektor;xrandr;Zaslon;Ločljivost;Osveževanje;
Keywords[sr]=Панел;Пројектор;храндр;Екран;Резолуција;Освежавање;
Keywords[sr@latin]=Panel;Projektor;hrandr;Ekran;Rezolucija;Osvežavanje;
Keywords[sv]=Panel;Projektor;xrandr;Skärm;Upplösning;Uppdatering;
Keywords[ta]=பலகம்;ஒளிப்படக்காட்டி;எக்ஸ்ரான்டர்;திரை;தெளிதிறன்;புதுப்பி
Keywords[te]=పానల్;ప్రొజెక్టర్;xrandr;తెర;రిజొల్యూషన్;రీఫ్రెష్;
Keywords[th]=แผงควบคุม;เครื่องฉาย;xrandr;หน้าจอ;ความละเอียด;รีเฟรช;
Keywords[tr]=Panel;Projektör;xrandr;Ekran;Çözünürlük;Tazeleme;
Keywords[ug]=تاختا;پرويېكتور;xrandr;ئېكران;ئېنىقلىق;يېڭىلا;
Keywords[uk]=Панель;Проектори;xrandr;Екран;Роздільність;Оновлення;
Keywords[vi]=Panel;Projector;Máy;chiếu;May;chieu;xrandr;Screen;Màn;hình;Man;hinh;Resolution;Độ;pân;giải;Do;phan;gia;Refresh;
Keywords[zh_CN]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影仪;屏幕;分辨率;刷新;
Keywords[zh_HK]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影機;螢幕;解像度;重新整理;
Keywords[zh_TW]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影機;螢幕;解析度;重新整理;
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0

