[Desktop Entry]
Name=Cinnamon Control Center
Icon=preferences-system
Exec=cinnamon-control-center --overview
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;
OnlyShowIn=GNOME;
NoDisplay=true
Keywords=Preferences;Settings;
Keywords[ar]=تفضيلات;إعدادات;
Keywords[as]=পছন্দসমূহ;সংহতিসমূহ;
Keywords[be]=Настройкі;
Keywords[bg]=Настройки;Конфигурация
Keywords[ca]=Preferències;Paràmetres;
Keywords[ca@valencia]=Preferències;Paràmetres;
Keywords[crh]=Tercihler;Ayarlar;
Keywords[cs]=předvolby;nastavení;
Keywords[da]=Indstillinger;Opsætning;
Keywords[de]=Einstellungen
Keywords[el]=Επιλογές;Ρυθμίσεις;Preferences;Settings;
Keywords[en_GB]=Preferences;Settings;
Keywords[eo]=Agordoj;Agordoj;
Keywords[es]=Preferencias;Configuración;
Keywords[et]=Eelistused;Sätted;Seaded;Seadistused;
Keywords[eu]=Hobespenak;Ezarpenak;
Keywords[fa]=ترجیحات;تنظیمات;
Keywords[fi]=Ominaisuudet;Asetukset;Preferences;Settings;
Keywords[fr]=Préférences;Paramètres;Réglages;
Keywords[ga]=Sainroghanna;Socruithe;
Keywords[gl]=Preferencias;Configuración;
Keywords[gu]=પસંદગીઓ;સુયોજનો;
Keywords[he]=העדפות;הגדרות;
Keywords[hi]=वरीयताएँ;सेटिंग्स;
Keywords[hu]=Tulajdonságok;Beállítások;
Keywords[id]=Preferensi;Pengaturan;
Keywords[it]=Preferenze;Impostazioni;
Keywords[ja]=Preferences;Settings;設定
Keywords[kk]=Баптаулар;Қалаулар;
Keywords[km]=ចំណូលចិត្ត;ការ​កំណត់;
Keywords[kn]=ಆದ್ಯತೆಗಳು;ಸಿದ್ಧತೆಗಳು;
Keywords[ko]=Preferences;기본 설정;Settings;설정
Keywords[lt]=Nustatymai;Parinktys;
Keywords[lv]=Iestatījumi;Uzstādījumi;Konfigurācija;Preferences;Settings;
Keywords[ml]=Preferences;Settings;
Keywords[mr]=पसंती;सेटिंग्स्;
Keywords[nb]=Brukervalg;Innstillinger
Keywords[nl]=Preferences;Settings;Voorkeuren;Instellingen;
Keywords[or]=ପସନ୍ଦ;ସେଟିଙ୍ଗଗୁଡ଼ିକ;
Keywords[pa]=ਮੇਰੀ ਪਸੰਦ;ਸੈਟਿੰਗ;
Keywords[pl]=Preferencje;Ustawienia;Konfiguracja;Opcje;
Keywords[pt]=Preferências;Definições;
Keywords[pt_BR]=Preferences;Settings;
Keywords[ru]=Настройки;Параметры;
Keywords[sk]=Nastavenia;
Keywords[sl]=Možnosti;Nastavitve;
Keywords[sr]=Поставке;Подешавања;
Keywords[sr@latin]=Postavke;Podešavanja;
Keywords[sv]=Inställningar;
Keywords[ta]=விருப்பங்கள்;அமைப்புகள்
Keywords[te]=ప్రాధాన్యతలు;అమరికలు;
Keywords[th]=ปรับแต่ง;ตั้งค่า;
Keywords[uk]=Налаштування;Параметри;
Keywords[vi]=Preferences;Tuỳ;thích;Tuy;thich;Cấu;hình;Cau;hinh;Settings;Thiết;lập;Thiet;lap;Tuỳ;chọn;Tuy;chon;
Keywords[zh_CN]=Preferences;Settings;首选项;设置;
Keywords[zh_HK]=Preferences;Settings;偏好設定;設定值;
Keywords[zh_TW]=Preferences;Settings;偏好設定;設定值;
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0
