[Desktop Entry]
Name=Region & Language
Comment=Change your region and language settings
Exec=cinnamon-settings region
Icon=preferences-desktop-locale
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;X-Cinnamon-Settings-Panel;X-Cinnamon-PersonalSettings
OnlyShowIn=GNOME;
X-Cinnamon-Settings-Panel=region
# Translators: those are keywords for the region control-center panel
Keywords=Language;Layout;Keyboard;
Keywords[af]=Language;Layout;Keyboard;taal;uitleg;sleutelbord;toetsbord
Keywords[ar]=اللغة;التخطيط;مفاتيح;
Keywords[as]=ভাষা;বিন্যাস;কিবৰ্ড
Keywords[ast]=Llingua;Distribución;Tecláu;
Keywords[be]=Мова;Раскладка;Клавіятура;
Keywords[bg]=Език;Подредба;Клавиатура;
Keywords[bn]=ভাষা;বহির্বিন্যাস;কীবোর্ড;
Keywords[ca]=Idioma;Disposició;Teclat;
Keywords[ca@valencia]=Idioma;Disposició;Teclat;
Keywords[crh]=Til;Tizilim;Klavye;
Keywords[cs]=jazyk;rozložení;klávesnice
Keywords[da]=Sprog;Layout;Tastatur;
Keywords[de]=Sprache;Belegung;Tastatur;
Keywords[el]=Γλώσσα;Διάταξη;Πληκτρολόγιο;Language;Layout;Keyboard;
Keywords[en_GB]=Language;Layout;Keyboard;
Keywords[eo]=Lingvo;Aranĝo;Klavaro;
Keywords[es]=Idioma;Distribución;Teclado;
Keywords[et]=Keel;Paigutus;Klaviatuur;
Keywords[eu]=Hizkuntza;Diseinua;Teklatua;
Keywords[fa]=زیان;چیدمان;صفحه‌کلید؛
Keywords[fi]=Kieli;Asettelu;Näppäimistö;
Keywords[fr]=Langue;Disposition;Clavier;
Keywords[ga]=Teanga;Leagan Amach;Méarchlár;
Keywords[gl]=Idioma:Distribución;Teclado;
Keywords[gu]=ભાષા;લેઆઉટ;કિબોર્ડ;
Keywords[he]=שפה;פריסה;מקלדת;
Keywords[hi]=भाषा;लेआउट;कुंजीपटल;
Keywords[hu]=Nyelv;kiosztás;billentyűzet;
Keywords[id]=Bahasa;Tata Letak;Papan Tik;
Keywords[it]=Lingua;Disposizione;Layout;Tastiera;
Keywords[ja]=Language;Layout;Keyboard;言語;レイアウト;キーボード;
Keywords[kk]=Тіл;Жайма;Пернетақта;
Keywords[km]=Language;Layout;Keyboard;
Keywords[kn]=ಭಾಷೆ;ವಿನ್ಯಾಸ;ಕೀಲಿಮಣೆ;
Keywords[ko]=Language;언어;Layout;배치;Keyboard;키보드;
Keywords[ky]=Тил;Такта;Алиптакта;
Keywords[lt]=Kalba;Išdėstymas;Klaviatūra;
Keywords[lv]=Valoda;Izkārtojums;Tastatūra;Language;Layout;Keyboard;
Keywords[mk]=Јазик;Распоред;Тастатура;
Keywords[ml]=Language;Layout;Keyboard;
Keywords[mr]=भाषा;मांडणी;किबोर्ड;
Keywords[nb]=Språk;Utforming;Tastatur;
Keywords[nl]=Language;Layout;Keyboard;Taal;Indeling;Toetsenbord;
Keywords[or]=ଭାଷା;ବିନ୍ୟାସ;କିବୋର୍ଡ;
Keywords[pa]=ਭਾਸ਼ਾ;ਲੇਆਉਟ;ਕੀਬੋਰਡ;Language;Layout;Keyboard;
Keywords[pl]=Język;Układ;Klawiatura;
Keywords[pt]=Idioma;Disposição;Teclado;
Keywords[pt_BR]=Idioma;Disposição;Teclado;
Keywords[ro]=Language;Layout;Limbă;Aranjamente;Limba;
Keywords[ru]=Язык;Раскладка;Клавиатура;
Keywords[sk]=Jazyk;Rozloženie;Klávesnica;
Keywords[sl]=Jezik;Razporeditev;Tipkovnica;
Keywords[sr]=Језик;Распоред;Тастатура;
Keywords[sr@latin]=Jezik;Raspored;Tastatura;
Keywords[sv]=Språk;Layout;Tangentbord;
Keywords[ta]=மொழி;இடஅமைவு;விசைப்பலகை
Keywords[te]=భాష;నమూనా;కీబోర్డు;
Keywords[th]=ภาษา;ผังแป้นพิมพ์;แป้นพิมพ์;
Keywords[tr]=Dil;Yerleşim;Klavye;
Keywords[ug]=تىل;جايلاشتۇرۇش;ھەرپتاختا
Keywords[uk]=Мова;Розкладка;Клавіатура;
Keywords[vi]=Language;Ngôn;ngữ;Ngon;ngu;Layout;Bố;trí;Bo;tri;Keyboard;Bàn;phím;Ban;phim;Kieu;go;
Keywords[zh_CN]=Language;Layout;Keyboard;语言;布局;键盘;
Keywords[zh_HK]=Language;Layout;Keyboard;語言;配置;鍵盤;
Keywords[zh_TW]=Language;Layout;Keyboard;語言;配置;鍵盤;
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0

