[Desktop Entry]
Name=Windows兼容无线管理工具
Comment=Ndiswrapper driver installation tool
Exec=kdesu /usr/sbin/ndisgtk -- --kde
Icon=ndisgtk.png
Terminal=false
Type=Application
OnlyShowIn=KDE;
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=ndisgtk

