[Desktop Entry]
Name=Python (v3.3)
Comment=Python Interpreter (v3.3)
Exec=/usr/bin/python3.3
Icon=/usr/share/pixmaps/python3.3.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
