[Desktop Entry]
Name=密码管理器
Comment=Manage your passwords and encryption keys
Exec=/usr/bin/seahorse
Terminal=false
Type=Application
Icon=seahorse
Categories=GNOME;GTK;Security;Settings;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.6.3
X-GNOME-DocPath=seahorse/seahorse.xml
X-Ubuntu-Gettext-Domain=seahorse
