[Desktop Entry]
Name=Bluetooth Transfer
Name[zh_CN]=蓝牙传输
Comment=Send files via Bluetooth
Icon=bluetooth
Exec=bluetooth-sendto
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;FileTools;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=sendto
X-GNOME-Bugzilla-Version=3.6.1
X-Ubuntu-Gettext-Domain=gnome-bluetooth2
