[Desktop Entry]
Name=Brasero
Name[zh_CN]=Brasero光盘刻录工具
GenericName=Disc Burner and Copier
Comment=Create and copy CDs and DVDs
Categories=GTK;GNOME;System;DiscBurning;
MimeType=application/x-cd-image;application/x-cdrdao-toc;application/x-cue;application/x-toc;audio/x-scpls;audio/x-ms-asx;audio/x-mp3-playlist;audio/x-mpegurl;application/x-brasero;x-content/audio-cdda;x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;x-content/image-picturecd;
Exec=brasero %U
Icon=brasero
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-FullName=Brasero Disc Burner
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=brasero
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.6.1
Actions=Window;Image;Disc;Audio;Video;
X-Ubuntu-Gettext-Domain=brasero

[Desktop Action Window]
Name=Open a New Window
Exec=brasero --no-existing-session
OnlyShowIn=Unity;

[Desktop Action Image]
Name=Burn an Image File
Exec=brasero --image
OnlyShowIn=Unity;

[Desktop Action Disc]
Name=Copy a Disc
Exec=brasero --copy
OnlyShowIn=Unity;

[Desktop Action Audio]
Name=Create an Audio Project
Exec=brasero --audio
OnlyShowIn=Unity;

[Desktop Action Video]
Name=Create a Video Project
Exec=brasero --video
OnlyShowIn=Unity;
