[Desktop Entry]
Name=Power
Comment=Power management settings
Exec=cinnamon-settings power
Icon=cinnamon-power-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;X-Cinnamon-Settings-Panel;HardwareSettings
OnlyShowIn=GNOME;
X-Cinnamon-Settings-Panel=power
# Translators: those are keywords for the power control-center panel
Keywords=Power;Sleep;Suspend;Hibernate;Battery;
Keywords[af]=Power;Sleep;Suspend;Hibernate;Battery;krag;slaap;sluimer;hiberneer
Keywords[ar]=طاقة;سبات;تعليق;بطارية;
Keywords[as]=শক্তি;নিদ্ৰা;বাতিল;হাইবাৰনেইট;বেটাৰি;
Keywords[ast]=Enerxía;Durmir;Suspender;Ivernar;Batería;
Keywords[be]=Энергія;Сілкаванне;Сон;Супынак;Гібернацыя;Батарэя;Акумулятар;
Keywords[bg]=Захранване;Приспиване;Приспиване;Дълбоко приспиване;Батерия;
Keywords[bn]=Power;Sleep;Suspend;Hibernate;Battery;
Keywords[ca]=Energia;Baix consum;Aturada temporal;Hibernació;Bateria;
Keywords[ca@valencia]=Energia;Baix consum;Parada temporal;Hibernació;Bateria;
Keywords[crh]=Güç;Uyku;Bekleme;Derin Uyku;Pil;
Keywords[cs]=napájení;uspání;uspání do paměti;uspání na disk;baterie;
Keywords[da]=Strøm;Sove;Hvile;Dvale;Batteri;
Keywords[de]=Energie;Schlafmodus;Bereitschaft;Ruhezustand;Akku;
Keywords[el]=Power;Sleep;Suspend;Hibernate;Battery;Ρεύμα;Ύπνωση;Αναστολή;Αδρανοποίηση;Μπαταρία;
Keywords[en_GB]=Power;Sleep;Suspend;Hibernate;Battery;
Keywords[es]=Energía;Dormir;Suspender;Hibernar;Batería;
Keywords[et]=Vool;Uni;Uinak;Talveuni;Talveuinak;Aku;Hiberneerima;Peatama;
Keywords[eu]=Energia;Lo egin;Eseki;Hibernatu;Bateria;
Keywords[fa]=انرژی؛خوابیدن؛تعلیق؛خواب زمستانی؛باتری؛
Keywords[fi]=virta;uni;valmiustila;lepotila;akku;
Keywords[fr]=Énergie;Alimentation;Veille;Suspension;Hibernation;Batterie;
Keywords[gl]=Enerxía;Durmir;Suspender;Hibernar;Batería;
Keywords[gu]=પાવર;સ્લીપ;સ્થગિત;હાઇબરનેટ;બેટરી;
Keywords[he]=צריכת חשמל;שינה;השהיה;תרדמת;סוללה;
Keywords[hi]=Power;Sleep;Suspend;Hibernate;Battery;
Keywords[hu]=Energia;Energiagazdálkodás;Alvás;Felfüggesztés;Hibernálás;Akkumulátor;
Keywords[id]=Daya;Tidur;Suspensi;Hibernasi;Baterai;
Keywords[it]=Alimentazione;Batterie;Sospensione;Ibernazione;Pausa;Energia;Risparmio;
Keywords[ja]=Power;Sleep;Suspend;Hibernate;Battery;電源;スリープ;サスペンド;ハイバネート;バッテリー;
Keywords[km]=Power;Sleep;Suspend;Hibernate;Battery;
Keywords[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ;ನಿದ್ರಿಸು;ವಿರಮಿಸು;ನೆನಪಿನೊಡನೆ ಮುಚ್ಚು;ಬ್ಯಾಟರಿ;
Keywords[ko]=Power;전원;Sleep;절전;Suspend;대기 모드;Hibernate;최대 절전;Battery;배터리;
Keywords[lt]=Energija;Miegoti;Laukimo būsena;Hibernuoti;Akumuliatorius;
Keywords[lv]=Barošana;Snaust;Snaušana;Gulēt;Gulēšana;Baterija;Strāva;Power;Sleep;Suspend;Hibernate;Battery;
Keywords[mk]=Енергија;Спиј;Суспендирај;Хибернирај;Батерија;
Keywords[ml]=Power;Sleep;Suspend;Hibernate;Battery;
Keywords[mr]=पावर;स्लीप;सस्पेंड;हायबरनेट;बटरि;
Keywords[nb]=Strøm;Sove;Hvile;Dvale;Batteri;
Keywords[nl]=Power;Sleep;Suspend;Hibernate;Battery;Energie;Slaapstand;Pauzestand;Accu;
Keywords[or]=ଶକ୍ତି;ସୁପ୍ତ;ନିଲମ୍ବିତ;ନିଷ୍କ୍ରିୟ;ବ୍ୟାଟେରୀ;
Keywords[pa]=ਪਾਵਰ;ਸਲੀਪ;ਸਸਪੈਂਡ;ਹਾਈਬਰਨੇਟ;ਬੈਟਰੀ;Power;Sleep;Suspend;Hibernate;Battery;
Keywords[pl]=Zasilanie;Uśpienie;Wstrzymanie;Hibernacja;Akumulator;Bateria;Uśpij;Wyłącz;Wstrzymaj;Hibernuj;
Keywords[pt]=Energia;Dormir;Suspender;Hibernar;Bateria;
Keywords[pt_BR]=Energia;Dormir;Suspender;Hibernar;Bateria;
Keywords[ro]=Power;Sleep;Suspend;Hibernate;Consum;Odihnă;Repaus;Suspendare;Hibernare;Putere;
Keywords[ru]=Питание;Спящий;Ждущий;Батарея;
Keywords[sk]=Napájanie;Uspať;Hibernovať;Batéria;
Keywords[sl]=V delovanju;V pripravljenosti;V pripravljenosti;V mirovanju;Baterija;
Keywords[sr]=Напајање;Успављивање;Обустава;Замрзавање;Батерија;
Keywords[sr@latin]=Napajanje;Uspavljivanje;Obustava;Zamrzavanje;Baterija;
Keywords[sv]=Ström;Sova;Vänteläge;Viloläge;Batteri;
Keywords[ta]=சக்தி;உறங்கு;செயல்நீக்கம்;இடைநிறுத்தம்;மின்கலம்
Keywords[te]=విద్యుత్;నిద్రావస్థ;తాత్కాలికంగా నిలిపివేయి;సుప్తావస్థ;బ్యాటరీ;
Keywords[th]=พลังงาน;หลับ;พักเครื่อง;จำศีลเครื่อง;แบตเตอรี่
Keywords[tr]=Güç;Uyku;Bekleme;Derin Uyku;Pil;
Keywords[ug]=توك مەنبە؛ئۇخلىتىش؛توڭلىتىش؛ئۈچەك؛توكدان؛
Keywords[uk]=Живлення;Сон;Призупинити;Приспати;Батарея;
Keywords[vi]=Power;Nguồn;Nguon;dien;Sleep;Ngủ;Ngu;Suspend;Ngưng;Ngung;Hibernate;Battery;Pin;
Keywords[zh_CN]=Power;Sleep;Suspend;Hibernate;Battery;电源;睡眠;挂起;休眠;电池;
Keywords[zh_HK]=Power;Sleep;Suspend;Hibernate;Battery;電源;睡眠;暫停;休眠;電池;
Keywords[zh_TW]=Power;Sleep;Suspend;Hibernate;Battery;電源;睡眠;暫停;休眠;電池;
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0

