[Desktop Entry]
Name=Brightness & Lock
Comment=Screen brightness and lock settings
Exec=cinnamon-control-center screen
Icon=system-lock-screen
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;X-Cinnamon-Settings-Panel;X-Cinnamon-PersonalSettings
OnlyShowIn=GNOME;
X-Cinnamon-Settings-Panel=screen
# Translators: those are keywords for the brightness and lock control-center panel
Keywords=Brightness;Lock;Dim;Blank;Monitor;
Keywords[af]=Brightness;Lock;Dim;Blank;Monitor;helderheid;sluit;verdof
Keywords[ar]=سطوع;قفل;فارغ;شاشة;
Keywords[as]=উজ্জ্বলতা;লক;স্লান;ৰিক্ত;মনিটৰ;
Keywords[ast]=Brillu;Bloquiar;Escurecer;Illuminar;Pantalla;
Keywords[be]=Яркасць;Блакіроўка;Замкнуць;Зацямненне экрана;Ачышчэнне экрана;Манітор;Экран;
Keywords[bg]=Яркост;Заключване;Затъмняване;Изключване;Екран;
Keywords[bn]=Brightness;Lock;Dim;Blank;Monitor;
Keywords[ca]=Brillantor;Blocar;Atenuar;En blanc;Pantalla;
Keywords[ca@valencia]=Brillantor;Blocar;Atenuar;En blanc;Pantalla;
Keywords[crh]=Parlaklık;Kilitle;Karartma;Boş;Monitör;
Keywords[cs]=jas;zámek;ztlumení;ztmavení;monitor;
Keywords[da]=Lysstyrke;Lås;Dæmp;Blank;Skærm;
Keywords[de]=Helligkeit;Sperren;Abdunkeln;Schwärzen;Bildschirm;Monitor;
Keywords[el]=Φωτεινότητα;Κλείδωμα;Χαμήλωμα;Κενή;Οθόνη;Brightness;Lock;Dim;Blank;Monitor;
Keywords[en_GB]=Brightness;Lock;Dim;Blank;Monitor;
Keywords[eo]=Heleco;Ŝlosi;Malheligo;Malplenigo;Ekrano;
Keywords[es]=Brillo;Bloquear;Oscurecer;Iluminar;Pantalla;
Keywords[et]=Heledus;Lukk;Lukustamine;Kuva;Ekraan;Monitor;
Keywords[eu]=Distira;Blokeatu;Ilundu;Argitu;Pantaila;
Keywords[fa]=روشنایی;قفل;تار;خالی;نمایشگر؛
Keywords[fi]=kirkkaus;lukitseminen;himmentäminen;pimennys;näyttö;
Keywords[fr]=Luminosité;Verrouillage;Verrouiller;Estomper;Veille;Éteindre;Écran;
Keywords[ga]=Gile;Glas;Maolaigh;Glan;Bánaigh;Scáileán;
Keywords[gl]=Brillo;Bloquear;Escurecer;Iluminar;Pantalla;
Keywords[gu]=પ્રકાશતા;તાળુ;ઝાંખી;ખાલી;મોનિટર;
Keywords[he]=בהירות;נעילה;עמעום;החשכה;צג;מסך;
Keywords[hi]=चमकीलापन;लॉक;डिम;रिक्त;मॉनिटर;
Keywords[hu]=Fényerő;Zárolás;Halványítás;Elsötétítés;Monitor;
Keywords[id]=Kecerahan;Kunci;Redup;Kosongkan;Monitor;
Keywords[it]=Luminosità;Blocco;Oscuramento;Blank;Monitor;
Keywords[ja]=Brightness;Lock;Dim;Blank;Monitor;明るさ;ロック;暗い;ブランク;モニター;
Keywords[km]=Brightness;Lock;Dim;Blank;Monitor;
Keywords[kn]=ಪ್ರಕಾಶತೆ;ಲಾಕ್;ಮಂದ;ಖಾಲಿ;ತೆರೆ;
Keywords[ko]=Brightness;밝기;Lock;잠그기;잠금;Dim;어둡게;Blank;화면 끄기;Monitor;모니터;
Keywords[lt]=Ryškumas;Rakinimas;Pritemdymas;Tuščias;Monitorius;
Keywords[lv]=Spilgtums;Gaišums;Slēgt;Tumšāks;Tukšs;Monitors;Brightness;Lock;Dim;Blank;
Keywords[mk]=Светлост;Заклучи;Затемни;Зацрни;Монитор;
Keywords[ml]=Brightness;Lock;Dim;Blank;Monitor;
Keywords[mr]=उजळपणा;लॉक;डिम;रिकामे;मॉनिटर;
Keywords[nb]=Lysstyrke;Lås;Demp;Blank;Skjerm;
Keywords[nl]=Brightness;Lock;Dim;Blank;Monitor;Helderheid;Vergrendelen;Zwart;Beeldscherm;
Keywords[or]=ଉଜ୍ଜ୍ବଳତା;ତାଲା;ଧିମା;ଖାଲି;ମନିଟର;
Keywords[pa]=ਚਮਕ;ਲਾਕ;ਡਿਮ;ਖਾਲੀ;ਮਾਨੀਟਰ;Brightness;Lock;Dim;Blank;Monitor;
Keywords[pl]=Jasność;Blokada;Przygaszenie;Monitor;
Keywords[pt]=Brilho;Trancar;Escurecer;Ocultar;Monitor;
Keywords[pt_BR]=Brilho;Bloquear;Escurecer;Apagar;Monitor;
Keywords[ro]=Brightness;Lock;Dim;Blank;Luminozitate;Blocare;Spațiu;Neclar;
Keywords[ru]=Яркость;Блокировка;Монитор;Затухание;
Keywords[sk]=Jas;Uzamknúť;Uzamknutie;Stlmiť;Stlmenie;Obrazovka;Monitor;Vypnúť;Vypnutie;
Keywords[sl]=Svetlost;Zakleni;Zatemnjevanje;Črn;Zaslon;
Keywords[sr]=Осветљење;Закључај;Затамни;Празно;Монитор;
Keywords[sr@latin]=Osvetljenje;Zaključaj;Zatamni;Prazno;Monitor;
Keywords[sv]=Ljusstyrka;Lås;Dämpa;Blank;Monitor;Skärm;
Keywords[ta]=பிரகாசம்;பூட்டு;மங்கல்;வெற்று;திரை;
Keywords[te]=ప్రకాశత;తాళం;తక్కువకాంతి;బ్లాంక్;మానిటర్;
Keywords[th]=ความสว่าง;ล็อค;หรี่;จอเปล่า;จอภาพ;
Keywords[tr]=Parlaklık;Kilitle;Karartma;Boş;Monitör;
Keywords[ug]=يورۇقلۇق؛قۇلۇپ؛غۇۋا؛قارا؛ئېكران؛
Keywords[uk]=Яскравість;Блокування;Притлумлення;Очищення;Монітор;
Keywords[vi]=Brightness;Độ;sáng;Sang;Lock;Khoá;Khoa;Dim;Mờ;Blank;Trắng;Trang;Monitor;Màn;hình;Man;hinh;
Keywords[zh_CN]=亮度;锁定;渐暗;空白;显示器;Brightness;Lock;Dim;Blank;Monitor;
Keywords[zh_HK]=Brightness;Lock;Dim;Blank;Monitor;亮度;鎖定;調暗;空白;監視器;
Keywords[zh_TW]=Brightness;Lock;Dim;Blank;Monitor;亮度;鎖定;調暗;空白;監視器;
NoDisplay=true
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0
