[Desktop Entry]
Name=Universal Access
Comment=Universal Access Preferences
Exec=cinnamon-settings universal-access
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-Cinnamon-SystemSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=GNOME;
X-Cinnamon-Settings-Panel=universal-access
# Translators: those are keywords for the universal access control-center panel
Keywords=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;
Keywords[ar]=لوحة المفاتيح;الفأرة;الإتاحة;التباين;التقريب;التكبير;قارئ الشاشة;النص;الخط;الحجم;مفاتيح ملتصقة;مفاتيح بطيئة;مفاتيح قافزة;مفاتيح الفأرة;
Keywords[as]=কিবৰ্ড;মাউছ;a11y;অভিগম্যতা;কনট্ৰাস্ট;জুম;পৰ্দা ৰিডাৰ;লিখনী;ফন্ট;আকাৰ;AccessX;স্টিকি কিসমূহ;লেহেম কিসমূহ;বাউন্স কিসমূহ;মাউছ কিসমূহ;
Keywords[be]=Клавіятура;Мыш;a11y;Даступнасць;Абмежаваныя магчымасці;Інвалід;Кантраснасць;Маштабаванне;Чытач з экрана;тэкст;шрыфт;памер;AccessX;Грузкія клавішы;Марудныя клавішы;Рыкашэтныя клавішы;Мышыныя клавішы;
Keywords[bg]=Клавиатура;Мишка;a11y;Достъпност;Контраст;Увеличение;Четец на екрана;текст;шрифт;размер;AccessX;Лепкави клавиши;Бавни клавиши;Подскачащи клавиши;Бутони на мишката;
Keywords[ca]=Teclat;Ratolí;a11y;Accessibilitat;Contrast;Zoom;Lector de pantalla;text;lletra;mida;AccessX;Tecles enganxoses;Tecles lentes;Tecles de salt;Tecles del ratolí;
Keywords[ca@valencia]=Teclat;Ratolí;a11y;Accessibilitat;Contrast;Zoom;Lector de pantalla;text;lletra;mida;AccessX;Tecles enganxoses;Tecles lentes;Tecles de salt;Tecles del ratolí;
Keywords[crh]=Klavye;Sıçan;i15k;İrişilebilirlik;Tezat;Miqyas;Ekran Oquyıcı;metin;hurufat;ölçü;İrişimX;Yapışaq Tuşlar;Yavaş Tuşlar;Sıçrama Tuşları;Sıçan Tuşları;
Keywords[cs]=klávesnice;myš;a11y;přístupnost;kontrast;přiblížení;zvětšení;čtečka obrazovky;čtení obrazovky;text;písmo;velikost;přístup;kombinace kláves jedním prstem;pomalé klávesy;vícenásobná zmáčknutí kláves;klávesnice myší;
Keywords[da]=Tastatur;Mus;a11y;Tilgængelighed;Kontrast;Zoom;Skærmoplæser;tekst;skrifttype;størrelse;AccessX;Klæbetaster;Langsomme taster;Rystetaster;Musetaster;
Keywords[de]=Tastatur;Maus;a11y;Barrierefreiheit;Kontrast;Zoom;Bildschirmleser;Text;Schrift;Größe;AccessX;Klebrige Tasten;Springende Tasten;Tastaturmaus;
Keywords[el]=Πληκτρολόγιο;Ποντίκι;a11y;Προσιτότητα;Αντίθεση;Μεγέθυνση;Αναγνώστης οθόνης;κείμενο;γραματοσειρά;μέγεθος;AccessX;Αργά πλήκτρα;Κολλώδη πλήκτρα;Πλήκτρα αναπήδησης;Πλήκτρα ποντικιού
Keywords[en_GB]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;
Keywords[es]=Teclado;Ratón;a11y;Accesibilidad;Contraste;Ampliación;Lector de pantalla;texto;tipografía;tamaño;AccessX;Teclas persistentes;Teclas lentas;Rechazo de teclas;Teclas del ratón
Keywords[et]=Klaviatuur;Klaver;Hiir;a11y;Hõlbustused;Ligipääsetavus;Kontrast;Suurendus;Suum;Ekraanilugeja;tekst;font;suurus;AccessX;Kleepuvad klahvid;Aeglased klahvid;Põrkeklahvid;Hiireklahvid;
Keywords[eu]=Teklatua;Sagua;a11y;Erabilgarritasuna;Kontrastea;Zooma;Pantaila-irakurlea;testua;letra-tipoa;tamaina;AccessX;Tekla itsaskorrak;Tekla motelak;Errebote teklak;Sagu-teklak;
Keywords[fa]=صفحه‌کلید;موشی;a11y;دسترسی‌پذیری;سایه روشن;زوم;صفحه‌نمایش خوان;متن;قلم;اندازه;AccessX;کلیدهای چسبان;کلیدهای آرام;کلیدهای پرشی;کلیدهای موشی
Keywords[fi]=Näppäimistö;Hiiri;a11y;Esteettömyys;Kontrasti;Zoom;Mittakaava;Lähennys;Loitonnus;Näytönlukija;teksti;fontti;kirjasin;koko;AccessX;Pohjaan jäävät näppäimet;Hitaat näppäimet;Kimmonäppäimet;Hiiren painikkeet;
Keywords[fr]=Clavier;Souris;lien;Accessibilité;Contraste;Zoom;Lecteur d'écran;texte;police;taille;Accéder à X;Touches rémanentes;Touches lentes;Rebonds de touches;Touches de la souris;
Keywords[gl]=Teclado;Rato;a11y;Accesibilidade;Contraste;Ampliación;Lector de pantalla;texto;tipo de letra;tamaño;AccessX;Teclas persistentes;Teclas lentas;Rexeite de teclas;Teclas do rato
Keywords[gu]=કિબોર્ડ;માઉસ;a11y;સુલભતા;ભેદ;નાનું મોટુ કરો;સ્ક્રીન રીડર;લખાણ;ફોન્ટ;માપ;AccessX;સ્ટીકી કી;સ્લો કી;બાઉન્સ કી;માઉસ કી;
Keywords[he]=מקלדת;עכבר;a11y;נגישות;ניגודיות;ניגוד;תקריב;זום;מקריא מסך;טקסט;גופן;גודל;AccessX;מקשים דביקים;מקשים אטיים;מקשים קופצים;מקשי עכבר;
Keywords[hi]=कुंजीपटल;माउस;a11y;एक्सेसिबिलिटी;कंट्रास्ट;ज़ूम;स्क्रीन रीडर;पाठ;फ़ॉन्ट;आकार;एक्सेसX;स्टिकी कुंजी;धीमी कुंजियाँ;बाउंस कुंजी;माउस कुंजी;
Keywords[hu]=Billentyűzet;Egér;a11y;Akadálymentesítés;Kontraszt;Nagyítás;Képernyőolvasó;szöveg;betű;méret;AccessX;Ragadós billentyűk;Lassú billentyűk;Billentyűszűrés;Egérbillentyűk;
Keywords[id]=Papan Tik;Tetikus;a11y;Aksesabilitas;Kontras;Zum;Pembaca Layar;teks;fonta;ukuran;AccessX;Tombol Lengket;Tombol Lambat;Tombol Pantul;Tombol Tetikus
Keywords[it]=Tastiera;Mouse;a11y;Accessibilità;Contrasto;Ingrandimento;Zoom;Screen Reader;Lettore schermo;testo;font;tipo di carattere;dimensione;AccessX;Tasti singoli;Sticky Keys;Tasti lenti;Slow Keys;Tasti rimbalzati;Slow Keys;Tasti mouse;Mouse da tastiera;Mouse Keys;
Keywords[ja]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;キーボード;マウス;アクセシビリティ;コントラスト;ズーム;拡大;スクリーンリーダー;テキスト;文字;フォント;サイズ;大きさ;固定キー;スローキー;バウンスキー;マウスキー;
Keywords[km]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;
Keywords[kn]=ಕೀಲಿಮಣೆ;ಮೌಸ್;a11y;ನಿಲುಕು;ವೈದ್ರಶ್ಯ;ಗಾತ್ರಬದಲಾವಣೆ;ತೆರೆ ಓದುಗ;ಪಠ್ಯ;ಅಕ್ಷರಶೈಲಿ;ಗಾತ್ರ;AccessX;ಅಂಟು ಕೀಲಿಗಳು;ನಿಧಾನಗತಿಯ ಕೀಲಿಗಳು;ಪುಟಿಯುವ ಕೀಲಿಗಳು;ಮೌಸ್‌ ಕೀಲಿಗಳು;
Keywords[ko]=Keyboard;키보드;Mouse;마우스;a11y;Accessibility;접근성;Contrast;대비;Zoom;확대;축소;Screen Reader;스크린 리더;화면 읽기;text;텍스트;font;size;폰트;글꼴;크기;AccessX;Sticky Keys;고정 키;Slow Keys;느린 키;Bounce Keys;탄력 키;Mouse Keys;마우스 키;
Keywords[lt]=Klaviatūra;Pelė;a11y;Prieinamumas;Kontrastas;Mastelis;Ekrano skaitytuvas;tekstas;šriftas;dydis;AccessX;Kibūs klavišai;Lėtieji klavišai;Pasikartojantys klavišai;Pelės klavišai;
Keywords[lv]=Tastatūra;Pele;a11y;Pieejamība;Kontrasts;Mērogs;Tuvināt;Ekrāna lasītājs;teksts; fonts;izmērs;AccessX;Lipīgie taustiņi;Lēnie taustiņi;Atlecošie taustiņi;Peles taustiņi;Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;
Keywords[ml]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;
Keywords[mr]=किबोर्ड;माऊस;ॲलि;ॲक्सेसिबिलिटि;काँट्रास्ट;झूम;स्क्रीन रिडर;टेक्स्ट;फाँट;आकार;ॲक्सेसX;स्किकि किज्;स्लो किज्;बाउंस किज्;माऊस किज्;
Keywords[nb]=Tastatur;Mus;a11y;Tilgjengelighet;Kontrast;Zoom;Skjermleser;tekst;skrift;størrelse;AccessX;Klebrige taster;Trege taster;Sprettetaster;Mustaster;
Keywords[nl]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;Toetsenbord;Toegankelijkheid;Tekst;Lettertype;
Keywords[or]=କିବୋର୍ଡ;ମାଉସ;a11y;ପ୍ରବେଶାନୁମତି;ବିଭେଦନ;ସାନ ବଡ଼;ପରଦା ପାଠକ;ପରୀକ୍ଷା;ଅକ୍ଷରରୂପ;ଆକାର;ଅଭିଗମ୍ୟX;ଷ୍ଟିକି କି;ମନ୍ଥର କି;ଅମେଳ କି;ମାଉସ କି;
Keywords[pa]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;ਕੀਬੋਰਡ;,ਮਾਊਸ;ਫੋਂਟ;ਟੈਕਸਟ;ਆਕਾਰ;ਬਾਊਂਸ;ਕੀ-ਬੋਰਡ;ਸਵਿੱਚਾਂ,ਕੀ;ਅਸੈਸਬਲਿਟੀ;ਜ਼ੂਮ;
Keywords[pl]=Klawiatura;Mysz;a11y;Dostępność;Uniwersalny;Kontrast;Przybliżanie;Czytnik ekranowy;tekst;font;czcionka;rozmiar;AccessX;Trwałe klawisze;Powolne klawisze;Odbijające klawisze;Klawisze myszy;
Keywords[pt]=Teclado;Rato;a11y;Acessibilidade;Contraste;Zoom;Leitor de Ecrã;texto;fonte;tamanho;AccessX;Teclas Coladas;Teclas Lentas;Teclas Saltantes;Teclas de Rato;
Keywords[pt_BR]=Teclado;Mouse;a11y;Acessibilidade;Contraste;Zoom;Leitor de tela;texto;fonte; tamanho;AccessX;Teclas de aderência;Teclas lentas;Teclas de repercussão;Teclas do mouse
Keywords[ru]=Клавиатура;Мышь;a11y;Специальные возможности;Контрастность;Масштаб;Чтение с экрана;текст;шрифт;размер;AccessX;залипающие клавиши;медленные клавиши;отскакивающие клавиши;клавиши мыши
Keywords[sk]=Klávesnica;Myš;a11y;Zjednodušenie;Ovládanie;Prístupnosť;Kontrast;Lupa;Čítačka obrazovky;text;písmo;AccessX;Lepkavé klávesy;Pomalé klávesy;Poskakujúce klávesy;Myš klávesmi;
Keywords[sl]=Tipkovnica;Miška;a11y;Dostopnost;Kontrast;Približanje;Zaslonski bralnik;besedilo;pisava;velikost;AccessX;Lepljive tipke;Počasne tipke;Odskočne tipke;Tipke miške;
Keywords[sr]=Тастатура;Миш;a11y;Приступачност;Контраст;Зум;Читач екрана;текст;словни лик;величина;Приступ Иксу;Лепљиви тастери;Спори тастери;Одскочни тастери;Тастери миша;
Keywords[sr@latin]=Tastatura;Miš;a11y;Pristupačnost;Kontrast;Zum;Čitač ekrana;tekst;slovni lik;veličina;Pristup Iksu;Lepljivi tasteri;Spori tasteri;Odskočni tasteri;Tasteri miša;
Keywords[sv]=Tangentbord;Mus;a11y;Hjälpmedel;Kontrast;Zoom;Skärmläsare;text;typsnitt;storlek;AccessX;Klistriga tangenter;Tröga tangenter;Studsande tangenter;Mustangenter;
Keywords[ta]=விசைப்பலகை;சொடுக்கி;a11y;அணுகல்;மாறுபாடு;அணுகல்;திரைபடிப்பி;உரை;எழுத்துரு;அளாவு;அணுகல்x;ஒட்டுவிசைகள்;மெதுவிசைகள்;துள்ளுவிசைகள்;சொடுக்கிவிசைகள்;
Keywords[te]=కీబోర్డు;మౌస్;a11y;ప్రాప్తత;వ్యత్యాసం;జూమ్;తెర చదువకం;పాఠ్యం;ఖతి;పరిమాణం;యాక్సెస్x;అంటివుండే కీలు;నెమ్మది కీలు;బౌన్స్ కీలు;మౌస్ కీలు
Keywords[th]=แป้นพิมพ์;เมาส์;a11y;สิ่งอำนวยความสะดวก;ความต่างระดับสี;ซูม;อ่านหน้าจอ;ข้อความ;แบบอักษร;ขนาด;AccessX;ค้างปุ่มกด;พิมพ์แบบช้า;ป้องกันการกดแป้นรัว;บังคับเมาส์ด้วยแป้น;
Keywords[uk]=Клавіатура;Миша;a11y;Доступність;Контраст;Масштаб;Читач екрана;текст;шрифт;розмір;AccessX;Липкі клавіші;Повільні клавіші;Пружні клавіші;Кнопки миші;
Keywords[vi]=Keyboard;Bàn;phím;Ban;phim;Mouse;Chuột;Chuot;Con;tro;a11y;Accessibility;Contrast;Tương;phản;Tuong;phan;Zoom;Phóng;Phong;Thu;Screen;Reader;Màn;hình;Man;hinh;text;chữ;chu;font;phông;phong;size;Kích;thước;Kich;thuoc;AccessX;Sticky;Dính;Dinh;Keys;phím;Slow;Keys;Chậm;Cham;Bounce;Dội;Doi;Keys;Mouse;Keys;
Keywords[zh_CN]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;键盘;鼠标;辅助功能;对比度;缩放;屏幕读取器;文本;字体;大小;粘滞键;慢速键;回弹键;鼠标键
Keywords[zh_HK]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;鍵盤;滑鼠;無障礙;對比;螢幕閱讀器;文字;字型;大小;相黏鍵;遲緩鍵;彈跳鍵;滑鼠按鍵;
Keywords[zh_TW]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;鍵盤;滑鼠;無障礙;對比;螢幕閱讀器;文字;字型;大小;相黏鍵;遲緩鍵;彈跳鍵;滑鼠按鍵;
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0

