[Desktop Entry]
Name=Sound
Comment=Change sound volume and sound events
Exec=cinnamon-control-center sound
Icon=multimedia-volume-control
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=GNOME;
NoDisplay=true
X-Cinnamon-Settings-Panel=sound
# Translators: those are keywords for the sound control-center panel
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[ar]=بطاقة;ميكروفون;صوت;شدة;توازن;بلوتوث;
Keywords[as]=কাৰ্ড;মাইক্ৰোফোন;ভলিউম;স্লান;ভাৰসাম্য;ব্লুটুথ;হেডচেট;অডিঅ'
Keywords[be]=Карта;Мікрафон;Гучнасць;Гук;Затуханне;Баланс;Bluetooth;Навушнікі;Аўдыягарнітура;Аўдыя;
Keywords[bg]=Карта;Микрофон;Сила на звука;Затихване;Баланс;Bluetooth;Слушалки;Звук;Аудио;
Keywords[ca]=Targeta;Micròfon;Volum;Esvair;Balanç;Bluetooth;Auriculars;Àudio;
Keywords[ca@valencia]=Targeta;Micròfon;Volum;Esvair;Balanç;Bluetooth;Auriculars;Àudio;
Keywords[cs]=karta;mikrofon;hlasitost;prolínání;vyvážení;bluetooth;náhlavní souprava;audio;
Keywords[da]=Kort;Mikrofon;Volumen;Lydstyrke;Fade;Udtoning;Balance;Bluetooth;Hovedtelefoner;Lyd;Audio;
Keywords[de]=Karte;Mikrofon;Lautstärkeregler;Lautstärke;Ausblenden;Balance;Bluetooth;Headset;Audio;
Keywords[el]=Κάρτα;Μικρόφωνο;Ένταση;Απόσβεση;Ισορροπία;Bluetooth;Ακουστικά;Ήχος;Card;Microphone;Volume;Fade;Balance;Headset;Audio;
Keywords[en_GB]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[es]=tarjeta;micrófono;volumen;desvanecer;balance;bluetooth;cascos;auriculares;sonido;
Keywords[et]=Helikaart;Mikrofon;Helivaljus;Valjus;Balanss;Tasakaal;Bluetooth;Sinihammas;Peakomplekt;Audio;Heli;
Keywords[fa]=کارت;میکروفون;بلندی صدا;محو شدن;بالانس;بلوتوث;گوشی;صوت;
Keywords[fi]=Kortti;mikrofoni;äänenvoimakkuus;häivytys;tasapaino;Bluetooth;kuulokkeet;headset;Audio;
Keywords[fr]=Carte;Microphone;Volume;Fondu;Balance;Bluetooth;Casque;Audio;
Keywords[gl]=tarxeta;micrófono;volume;esvaecer;balance;bluetooth;auriculares;son;
Keywords[gu]=કાર્ડ;માઇક્રોફોન;વોલ્યુમ;ઝાંખુ;સંતુલન;બ્લુટુથ;હૅન્ડસેટ;ઓડિયો;
Keywords[he]=כרטיס;מיקרופון;עצמת שמע;ווליום;איזון;בלוטות׳;Bluetooth;אזניות;אוזניות;שמע;
Keywords[hi]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[hu]=Kártya;Mikrofon;Hangerő;Elhalás;Egyensúly;Bluetooth;Fejhallgató;Audio;Hang;
Keywords[id]=Kartu;Mikrofon;Volume;Fade;Balans;Bluetooth;Headset;Audio;
Keywords[ja]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;カード;マイク;音量;フェード;バランス;ブルートゥース;ヘッドセット;オーディオ;
Keywords[km]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;
Keywords[kn]=ಕಾರ್ಡ್;ಧ್ವನಿವರ್ಧಕ;ಧ್ವನಿಪ್ರಮಾಣ;ಮಬ್ಬು;ಸಮತೋಲನ;ಬ್ಲೂಟೂತ್;ಹೆಡ್‌ಸೆಟ್;ಆಡಿಯೊ;
Keywords[ko]=Card;카드;Microphone;마이크;Volume;볼륨;음량;Fade;페이드;Balance;균형;밸런스;Bluetooth;블루투스;Headset;헤드셋;Audio;오디오;
Keywords[lt]=Korta;Mikrofonas;Garsumas;Silpnėjimas;Balansas;Bluetooth;Ausinės;Garsas;
Keywords[lv]=Karte;Mikrofons;Skaļums;Klusināt;Balanss;Bluetooth;Austiņas;Card;Microphone;Volume;Fade;Balance;Headset;Audio;
Keywords[ml]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[mr]=कार्ड;माइक्रोफोन;वॉल्युम;फेड;बॅलेंस्;ब्ल्युटूथ;हेडसेट;ऑडिओ;
Keywords[nb]=Kort;Mikrofon;Volum;Fade;Balanse;Bluetooth;Hodetelefon;Lyd;
Keywords[or]=କାର୍ଡ;ମାଇକ୍ରୋଫୋନ;ଭଲ୍ୟୁମ;ଫିକା;ସନ୍ତୁଳିତ;ବ୍ଲୁଟୁଥ;ହେଡସେଟ;ଧ୍ୱନୀ;
Keywords[pa]=ਕਾਰਡ;ਮਾਈਕਰੋਫੋਨ;ਵਾਲੀਅਮ;ਫੇਡ;ਬੈਲਨਸ;ਬਲਿਊਟੁੱਲ;ਹੈੱਡਸੈੱਟ;ਆਡੀਓ;
Keywords[pl]=Karta;Mikrofon;Głośność;Oddalenie;Balans;Bluetooth;Headset;Słuchawki;Audio;
Keywords[pt]=Placa;Cartão;Microfone;Volume;Baixar;Balanço;Bluetooth;Auscultadores;Áudio;Audio;
Keywords[pt_BR]=Cartão;Microfone;Volume;Desaparecer;Balanço;Bluetooth;Fone de ouvido;Áudio;
Keywords[ru]=Карта;Микрофон;Громкость;Затухание;Баланс;Bluetooth;Наушники;Аудио;Звук;
Keywords[sk]=Karta;Mikrofón;Reproduktor;Hlasitosť;Rovnováha;Bluetooth;Slúchadlo;Slúchadlá;Zvuk;Stereo;Mono;Efekty;
Keywords[sl]=Kartica;Mikrofon;Glasnost;Pojemanje;Uravnavanje;Bluetooth;Naglavne slušalke;Zvok;
Keywords[sr]=Картица;Микрофон;Јачина звука;Ишчезавање;Баланс;Блутут;Слушалице;Звук;
Keywords[sr@latin]=Kartica;Mikrofon;Jačina zvuka;Iščezavanje;Balans;Blutut;Slušalice;Zvuk;
Keywords[ta]=அட்டை;ஒலிவாங்கி;ஒலிஅளவு;மறைவுறு;சமனம்;ப்ளூடூத்;ஹெட்செட்;ஆடியோ
Keywords[te]=కార్డు;మైక్రోఫోన్;శబ్దం;ఫేడ్;సమతుల్యం;బ్లూటూత్;హెడ్‌సెట్;శ్రవ్యకం;
Keywords[th]=การ์ด;ไมโครโฟน;ความดัง;เฟด;สมดุล;บลูทูท;ชุดหูฟัง;เสียง;
Keywords[uk]=Плата;Мікрофон;Гучність;Згасання;Баланс;Bluetooth;Гарнітура;Звук;
Keywords[vi]=Card;Cac;Microphone;Volume;Âm;lượng;Am;luong;thanh;Fade;Balance;Bluetooth;Headset;Loa;Tai;nghe;Audio;Tiếng;Tieng;
Keywords[zh_CN]=声卡;麦克风;话筒;音量;淡入淡出;均衡;蓝牙;耳机;耳麦;Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;
Keywords[zh_HK]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;音效卡;麥克風;音量;淡化;平衡;藍牙;耳機;音效;
Keywords[zh_TW]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;音效卡;麥克風;音量;淡化;平衡;藍牙;耳機;音效;
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0
