[Desktop Entry]
Name=Color
Comment=Color management settings
Exec=cinnamon-settings color
Icon=preferences-color
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-Cinnamon-Settings-Panel;HardwareSettings
NoDisplay=true
OnlyShowIn=GNOME;
X-Cinnamon-Settings-Panel=color
# Translators: those are keywords for the color control-center panel
Keywords=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[af]=Color;ICC;Profile;Calibrate;Printer;Display;kleur;profiel;kalibreer;drukker;skerm
Keywords[ar]=لون;ألوان;تشكيل;معايرة;طابعة;شاشة;
Keywords[as]=ৰঙ;ICC;আলেখ্য;মানাংকন;প্ৰিন্টাৰ;প্ৰদৰ্শন;
Keywords[ast]=Color;ICC;Perfil;Calibráu;Imprentadora;Pantalla;
Keywords[be]=Колер;ICC;Профіль;Каліброўка;Прынтар;Друк;Манітор;Экран;
Keywords[bg]=Цвят;ICC;Профил;Калибриране;Принтер;Екран;
Keywords[ca]=Color;ICC;Perfil;Calibratge;Impressora;Pantalla;
Keywords[ca@valencia]=Color;ICC;Perfil;Calibratge;Impressora;Pantalla;
Keywords[crh]=Renk;ICC;Profil;Ayar;Yazıcı;Görünüm;
Keywords[cs]=barvy;ICC;profil;kalibrace;tiskárna;obrazovka
Keywords[da]=Farve;ICC;Profil;Kalibrer;Printer;Skærm;
Keywords[de]=Farbe;ICC;Profil;Kalibrieren;Drucker;Anzeige;
Keywords[el]=Χρώματα;ICC;Προφίλ;Βαθμονόμηση;Εκτυπωτής;Οθόνη;Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[en_GB]=Colour;ICC;Profile;Calibrate;Printer;Display;
Keywords[eo]=Koloro;ICC;Profilo;Kalibri;Presilo;Ekrano;
Keywords[es]=Color;ICC;Perfil;Calibrado;Impresora;Pantalla;
Keywords[et]=Värv;ICC;Profiil;Kalibreerimine;Printer;Kuva;Ekraan;Monitor;
Keywords[eu]=Kolorea;ICC;Profila;Kalibratu;Inprimagailua;Pantaila;
Keywords[fa]=رنگ;ICC;مجموعه تنظیمات;درجه‌بندی;چاپگر;نمایشگر;
Keywords[fi]=väri;ICC;color;profiili;kalibrointi;Calibrate;Tulostin;Printer;Näyttö;
Keywords[fr]=Couleur;ICC;Profil;Calibrer;Calibration;Imprimante;Écran;
Keywords[gl]=Cor;ICC;Perfil;Calibrado;Impresora;Pantalla;
Keywords[gu]=રંગ;ICC;રૂપરેખા;માપદંડ;પ્રિન્ટર;દર્શાવ;
Keywords[he]=צבע;ICC;פרופיל;כיול;מדפסת;תצוגה;
Keywords[hi]=रंग;आईसीसी;प्रोफाइल;जांच;प्रिंटर;प्रदर्शन;
Keywords[hu]=Szín;ICC;Színek;Profilozás;Kalibrálás;Nyomtató;Kijelző;
Keywords[id]=Warna;ICC;Profil;Kalibrasi;Pencetak;Tampilan;
Keywords[it]=Colore;ICC;Profilo;Calibrazione;Stampante;Display;Monitor;Schermo;
Keywords[ja]=Color;ICC;Profile;Calibrate;Printer;Display;色;ICC;プロファイル;キャリブレーション;プリンター;ディスプレイ
Keywords[km]=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[kn]=ಬಣ್ಣ;ICC;ಪ್ರೊಫೈಲ್;ಕ್ಯಾಲಿಬ್ರೇಟ್;ಮುದ್ರಕ;ಪ್ರದರ್ಶಕ;
Keywords[ko]=Color;색;ICC;Profile;프로파일;Calibrate;보정;Printer;프린터;Display;디스플레이;
Keywords[ky]=Түс;ICC;Профайл;Калибрлөө;Принтер;Экран;
Keywords[lt]=Spalva;ICC;Profilis;Kalibravimas;Spausdintuvas;Ekranas;
Keywords[lv]=Krāsa;ICC;profils;Kalibrēt;Printeris;Ekrāns;Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[mk]=Боја;ICC;Профил;Калибрирај;Печатач;Приказ;
Keywords[ml]=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[mr]=रंग;ICC;प्रोफाइल;कॅलिब्रेट;प्रिंटर;डिस्पले;
Keywords[nb]=Farge;ICC;Profil;Kalibrer;Skriver;Skjerm;
Keywords[nl]=Color;ICC;Profile;Calibrate;Printer;Display;Kleur;Kalibreren;Weergave
Keywords[or]=ରଙ୍ଗ;ICC;ରୂପରେଖା;ମାପନ୍ତୁ;ମୁଦ୍ରଣୀ;ପ୍ରଦର୍ଶନୀ;
Keywords[pa]=ਰੰਗ,Color;ICC;Profile;Calibrate;ਪ੍ਰਿੰਟਰ;ਪਰਿੰਟਰ;Printer;Display;ਡਿਸਪਲੇਅ;
Keywords[pl]=Kolor;ICC;Profil;Kalibracja;Drukarka;Ekran;
Keywords[pt]=Cor;ICC;Perfil;Calibrar;Impressora;Ecrã;
Keywords[pt_BR]=Cor;ICC;Perfil;Calibração;Impressão;Exibição;
Keywords[ru]=Цвет;ICC;Профиль;Калибровка;Принтер;Монитор;
Keywords[sk]=Farba;Farby;ICC;Profil;Kalibrovať;Tlačiareň;Monitor;
Keywords[sl]=Barva;ICC;Profil;Umerjanje;Tiskalnik;Zaslon;
Keywords[sr]=Боја;ИЦЦ;Профил;Калибрирај;Штампач;Приказ;
Keywords[sr@latin]=Boja;ICC;Profil;Kalibriraj;Štampač;Prikaz;
Keywords[sv]=Färg;ICC;Profil;Kalibrera;Skrivare;Skärm;
Keywords[ta]=நிறம்;ஐசிசி;வரிவுரு;அளவீடுசெய்;அச்சுப்பொறி;தோற்றம்;
Keywords[te]=వర్ణం;ICC;ప్రవర;కాలిబ్రేట్;ముద్రకం;ప్రదర్శకం;
Keywords[th]=สี;ICC;โพรไฟล์;เทียบมาตรฐาน;เครื่องพิมพ์;จอภาพ;
Keywords[tr]=Renk;ICC;Profil;Ayar;Yazıcı;Görünüm;
Keywords[ug]=رەڭ;ICC;سەپلىمە ھۆججەت;تۈزىتىش;پرىنتېر;ئېكران;
Keywords[uk]=Колір;ICC;Профіль;Калібрування;Принтер;Екран;
Keywords[vi]=Color;Màu;Mau;ICC;Profile;Calibrate;Chinh;Printer;Máy;in;May;Display;Màn;hình;Man;hinh;
Keywords[zh_CN]=颜色;色彩;配置;校准;打印机;显示;Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[zh_HK]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校正;打印機;顯示器;
Keywords[zh_TW]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校正;印表機;顯示器;
X-Ubuntu-Gettext-Domain=cinnamon-control-center-1.0
