[Desktop Entry]
Name=Access Prompt
Name[zh_CN]=访问提示
Comment=Unlock access to passwords and other secrets
Icon=security-medium
Exec=/usr/lib/gcr/gcr-prompter
Terminal=false
Type=Application
NoDisplay=true
X-Ubuntu-Gettext-Domain=gcr
