[Desktop Entry]
Encoding=UTF-8
Name=Disk Image Mounter
Nam[zh_CN]e=磁盘挂载器
Comment=Mount Disk Images
Exec=gnome-disk-image-mounter %U
Icon=drive-removable-media
MimeType=application/x-cd-image;
Terminal=false
StartupNotify=false
Type=Application
NoDisplay=true
X-Ubuntu-Gettext-Domain=gnome-disk-utility
