[Desktop Entry]
Name=任务管理器
Comment=查看当前进程并管理计算机状态
TryExec=gnome-system-monitor
Exec=gnome-system-monitor
Icon=utilities-system-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;Monitor;
NotShowIn=KDE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=system-monitor
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.8.0
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;
X-Ubuntu-Gettext-Domain=gnome-system-monitor
