[Desktop Entry]
Name=新立得软件包管理器
GenericName=Package Manager
Comment=安装，卸载，升级软件包
Exec=synaptic-pkexec
Icon=synaptic
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=synaptic
