[Desktop Entry]
Comment[zh_CN]=使用 WPS 演示编辑、播放演示文稿
Comment=Use Kingsoft Presentation to edit and play presentations.
Exec=/usr/bin/wpp %f
GenericName[zh_CN]=WPS 演示
GenericName=Kingsoft Presentation
MimeType=application/wps-office.dps;application/wps-office.dpt;application/wps-office.ppt;application/wps-office.pot;application/vnd.ms-powerpoint;application/vnd.mspowerpoint;application/mspowerpoint;application/powerpoint;application/x-mspowerpoint;application/wps-office.pptx;application/wps-office.potx;
Name[zh_CN]=WPS 演示
Name=Kingsoft Presentation
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;Presentation;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office-wppmain
InitialPreference=3
